#AKeyboard {
    .KeysRow {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        .KeyButton {
            display: inline-block;
            border: solid 1px silver;
            border-radius: 5px;
            // flex-grow: 1;
            text-align: center;
            width: 10%;
            margin: 1px;
            height: 35px;
            line-height: 30px;
            cursor: default;
            &:hover {
                background: #444;
            }
            &.Space {
                flex-grow: 9;
            }
            &.KeyJ,
            &.KeyF {
                border-color: cyan;
            }
        }
    }
}
