.ModalOverlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.CancelButton {
	position: fixed;
	top: 0px;
	right: 0px;
	color: white;
	font-size: 18px;
	padding: 10px 15px;
	&:hover {
		background-color: #666;
	}
}

.ModalContent {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	padding: 0 25px 25px 25px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	// margin-left: 50px;
	max-height: 100%;
	box-sizing: border-box;
	overflow: auto;
	// text-align: center;
	.Title {
		text-align: center;
		margin: 5px 0 20px;
	}
	.FieldRow {
		div {
			display: inline-block;
		}
		margin: 10px 0;
	}
	.FieldLabel {
		width: 38%;
		text-align: left;
		padding: 0 10px;
		box-sizing: border-box;
	}
	.FieldValue {
		width: 23%;
		text-align: right;
		input {
			width: 100%;
		}
	}
	.FieldAction {
		width: 23%;
		padding: 0 10px;
		box-sizing: border-box;
	}

	.ActionBar {
		margin: 20px 0 0 0;
		text-align: center;
	}

	.FieldAction {
		button {
			background-color: #666;
			border: none;
			color: white;
			padding: 5px 15px;
			&:hover {
				background-color: black;
			}
		}
	}

	.CancelButton {
		font-size: 24px;
	}

	.CommandsList {
		text-align: center;
		direction: ltr;
		// padding: 0 25px;
		button {
			width: 80px;
			height: 80px;
			font-size: 25px;
			.CommandLabel {
				font-size: 12px;
			}
		}
	}
	.SearchInput {
		background-color: transparent;
		color: white;
		font-size: 25px;
		border: none;
		width: 100%;
	}
	.link {
		cursor: pointer;
		padding: 5px;
		&:hover {
			color: #ffffaa;
			background-color: #666;
		}
		* {
			pointer-events: none;
		}
	}

	.ResultInfo {
		color: #aaffff;
		display: inline-block;
		min-width: 100px;
		text-align: left;
		padding: 0 5px;
	}
}
