.ModalOverlay {
	position: fixed;
	// left: 0;
	top: 0;
	right: 0;
	bottom: 25px;
	overflow: auto;
}

.CancelButton {
	position: absolute;
	top: 0px;
	right: 0px;
	color: white;
	font-size: 18px;
	padding: 10px 15px;
	&:hover {
		background-color: #666;
	}
}

.trans-start {
	.ModalContent {
		opacity: 0;
		top: -20px;
	}
}
.trans-end {
	.ModalContent {
		transition: opacity 0.5s, top 0.5s, left 0.2s, right 0.2s;
		opacity: 1;
		top: 0;
		&.HiddenPopup {
			top: -20px;
			opacity: 0;
		}
	}
}

.ModalContent {
	pointer-events: all;
	position: absolute;
	// transition: left right 0.3s;
	// left: 0;
	// top: 0;
	right: 0;
	padding: 0 25px 25px 25px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	// margin-left: 50px;
	max-height: 100%;
	box-sizing: border-box;
	overflow: auto;
	// text-align: center;
	.Title {
		text-align: center;
		margin: 5px 20px 20px;
		position: relative;
		button {
			font-size: 25px;
			min-width: 35px;
			margin: 0 10px;
		}
		.FlexTitle {
			display: inline-block;
			min-width: calc(100% - 115px);
		}
	}
	.FieldRow {
		div {
			display: inline-block;
		}
		margin: 10px 0;
	}
	.FieldLabel {
		width: 38%;
		text-align: left;
		padding: 0 10px;
		box-sizing: border-box;
	}
	.FieldValue {
		width: 23%;
		text-align: right;
		input {
			width: 100%;
		}
	}
	.FieldAction {
		width: 23%;
		padding: 0 10px;
		box-sizing: border-box;
	}

	.ActionBar {
		margin: 20px 0 0 0;
		text-align: center;
	}

	.FieldAction {
		button {
			background-color: #666;
			border: none;
			color: white;
			padding: 5px 15px;
			&:hover {
				background-color: black;
			}
		}
	}

	.CancelButton {
		font-size: 24px;
	}

	.CommandsList {
		text-align: center;
		direction: ltr;
		// padding: 0 25px;
		button {
			width: 80px;
			height: 80px;
			font-size: 25px;
			.CommandLabel {
				font-size: 12px;
			}
		}
	}
	#SearchForm {
		> * {
			display: inline-block;
			height: 40px;
			vertical-align: top;
		}
		.SearchInput {
			background-color: transparent;
			color: white;
			border: none;
			width: calc(100% - 60px);
			font-size: 25px;
			border: solid 1px silver;
			box-sizing: border-box;
		}
		button[type="submit"] {
			width: 60px;
			font-size: 25px;
			border: solid 1px silver;
		}
	}
	#SearchHistory {
		padding: 5px 0;
		white-space: nowrap;
		overflow: auto;
		background-color: #444;
		button {
			font-size: 15px;
			padding: 3px 5px;
			border: solid 1px silver;
			margin: 0 3px;
		}
	}
	.link {
		cursor: pointer;
		padding: 5px;
		&:hover {
			color: #ffffaa;
			background-color: #666;
		}
		* {
			pointer-events: none;
		}
	}

	.ResultInfo {
		color: #aaffff;
		background-color: #444;
		display: inline-block;
		min-width: 100px;
		text-align: left;
		padding: 0 5px;
	}

	.ResultsInfo {
		color: yellow;
		height: 35px;
		line-height: 30px;
	}

	.ResultsList {
		// margin-top: 20px;
		margin: 0;
		padding-inline-start: 30px;
		overflow: auto;
		.MoreResults {
			width: 100%;
			background-color: #999;
			padding: 10px;
			color: black;
			cursor: pointer;
			&:hover {
				background-color: #ddd;
			}
		}
		.ResultItem {
			button {
				span {
					pointer-events: none;
				}
				text-align: right;
				font-size: 16px;
				line-height: 25px;
				.hiword {
					color: yellow;
				}
			}
		}
	}

	.TafseerVerse {
		color: yellow;
	}
}
