.Sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    // display: inline-block;
    vertical-align: top;
    width: 50px;
    // height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ddd;
    font-size: 25px;
    border-color: #444;
    border-style: solid;
    border-width: 0 1px 0 0;
    box-sizing: content-box;
    z-index: 1;
    overflow: hidden;

    button {
        display: block;
        width: 100%;
        height: 25px;
        padding: 0;
        &:focus {
            color: #aaffff;
        }
    }

    .ReciterIcon {
        display: inline-block;
        border-radius: 25px;
        margin: 5px;
        height: 40px;
        width: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .side-btn-img {
        width: 50px;
        height: 50px;
    }

    .ButtonsList {
        display: flex;
        flex-direction: column;
        height: 100%;

        .narrow & {
            height: calc(100% - 50px);
        }

        button {
            font-size: 24px;
            height: 50px;
            // background-size: cover;
            // background-repeat: no-repeat;
            // background-position: center;
        }
        #RecentCommands {
            // height: calc(100% - 205px);
            flex-grow: 1;
            overflow: hidden;
            position: relative;
            button {
                position: absolute;
                width: 50px;
                height: 50px;
                transition: top 0.5s;
            }
        }
    }

    #SidebarFooter {
        // position: absolute;
        // bottom: 0;
        // min-height: 50px;
        // width: 50px;
    }

    .SidebarSection {
        border-color: #444;
        border-width: 1px 0 0 0;
        border-style: solid;
    }
}

.ButtonsList {
    .narrow & {
        height: calc(100% - 50px);
    }
}
