.Sidebar {
	// position: absolute;
	// right: 0;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 50px;
	height: 100%;
	background-color: #333;
	color: #ddd;
	font-size: 25px;
	a {
		color: #ddd;
		display: block;
		padding: 10px 0;
		text-align: center;
		&:hover {
			color: white;
			cursor: pointer;
			background: #666;
		}
	}
}
