.Sidebar {
	position: absolute;
	right: 0;
	box-sizing: border-box;
	width: 50px;
	height: 100%;
	background-color: #555;
	color: #ddd;
	font-size: 25px;
	div {
		padding: 10px 0;
		text-align: center;
		&:hover {
			color: white;
			cursor: pointer;
		}
	}
}
