.Page {
	height: 100%;
	position: relative;
	// padding: 0 20px;
	.PageFrame {
		position: relative;
		height: calc(100% - 75px);
		padding: 0 20px;
	}
	.Spinner {
		position: absolute;
		left: calc(50% - 32px);
		top: calc(50% - 32px);
	}
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f3e2c7+0,b2a087+6,ffffff+100 */
	background: #f3e2c7; /* Old browsers */
	background: -moz-linear-gradient(
		left,
		#f3e2c7 0%,
		#b2a087 6%,
		#ffffff 100%
	); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		left,
		#f3e2c7 0%,
		#b2a087 6%,
		#ffffff 100%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		to right,
		#f3e2c7 0%,
		#b2a087 6%,
		#ffffff 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	// border: solid 1px grey;

	img {
		width: auto;
		height: 100%;
		max-width: 100%;
		// margin: 0 20px;
	}
	.PageFooter,
	.PageHeader {
		text-align: center;
		height: 25px;
		// border-radius: 15px;
	}

	.PageHeader {
		background-color: silver;
		height: 50px;
		line-height: 50px;
	}
	.PageFooter {
		background-color: silver;
	}
}

.LeftPage {
	.Page {
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f3e2c7+49,f3e2c7+78,b2a087+99 */
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(
			left,
			#ffffff 0%,
			#f3e2c7 49%,
			#f3e2c7 78%,
			#b2a087 99%
		); /* FF3.6-15 */
		background: -webkit-linear-gradient(
			left,
			#ffffff 0%,
			#f3e2c7 49%,
			#f3e2c7 78%,
			#b2a087 99%
		); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(
			to right,
			#ffffff 0%,
			#f3e2c7 49%,
			#f3e2c7 78%,
			#b2a087 99%
		); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b2a087',GradientType=1 ); /* IE6-9 */
	}
}

.Active {
	.PageHeader,
	.PageFooter {
		background-color: #555;
		color: white;
	}
}
