$appBgColor: #222;
$appBgColorDk: #111;
$appHeaderBgColor: #282c34;

$goodHifzBg: rgba(0, 128, 0, 0.15);
$goodHifzText: greenyellow;

$weakHifzBg: rgba(177, 0, 0, 0.15);
$weekHifzText: #ff8c8c;

$fairHifzBg: rgba(189, 145, 0, 0.2);
$fairHifzText: #ffd900;
$chartHeight: 35px;
$hifzRowHeight: 72px;

$PageThumbColor: rgba(170, 170, 170, 0.25);

$headerHeight: 25px;
$footerHeight: 50px;
$navbarWidth: 50px;
$headerButtonWidth: 50px;

$minButtonWidth: 25px;

$selectionBgColor: #c8ccf0;
$selectionBgColorDark: rgb(38, 93, 138);

$wrongTextColor: #f33;
$correctTextColor: greenyellow;
$popupBgColor: #111111e6;
$exerciseBgColor: #111111f2;

//TODO: duplicate with Page.scss
$selectionBgColor: #c8ccf0;
$selectionBgColorDark: rgb(38, 93, 138);

$maskedVerseBackground: #888;
$maskedVerseBackgroundDark: #555;

$maskBackground: rgba(153, 153, 153, 0.98);
$maskBackgroundDark: #666;