.App {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* text-align: center; */
    background-color: #444;
    direction: rtl;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    // background-color: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

button {
    border: none;
    border-width: 0;
    background-color: transparent;
    color: #ddd;
    pointer-events: all;
    text-align: center;
    &:hover {
        color: white;
        background: #666;
    }

    * {
        pointer-events: none;
    }
}

.ButtonsBar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    padding: 5px 4px;
    flex-grow: 1;
    min-height: 40px;
    button {
        margin: 0 2px;
        padding: 0;
        border-radius: 6px;
        // .ModalContent .Title & {
        //     margin: 0 1px;
        // }

        flex-grow: 1;
        font-size: 15px;
        background: #444;
        &:hover {
            color: white;
            background: #666;
        }
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

hr {
    border-style: solid;
    border-width: 1px 0;
    border-color: #222 #888 #888 #222;
}

.iBlock {
    display: inline-block;
    margin: 0 5px;
}

.flipHorizontal {
    transform: scaleX(-1);
}

.VerseInfo {
    display: inline-block;
    .VerseInfoList {
        font-size: 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.circle-background,
.circle-progress {
    fill: none;
}

.circle-background {
    stroke: #444;
}

.circle-progress {
    stroke: yellowgreen;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.circle-text {
    font-size: 10px;
    font-weight: bold;
    fill: yellowgreen;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.CommandButton {
    font-size: 25px !important;
    height: 50px !important;
    min-width: 50px;
    vertical-align: top;
    padding: 0;
}

.HifzRangeRow {
    &.GoodHifz {
        background-color: rgb(16, 61, 0);
    }
    &.FairHifz {
        background-color: rgb(87, 74, 0);
    }
    &.WeakHifz {
        background-color: rgb(73, 9, 0);
    }
    .AgeInfo {
        text-align: right;
        [dir="rtl"] & {
            text-align: left;
        }
    }
    .RangeInfo {
        font-weight: bold;
    }
}

.VerseText {
    margin: 0;
    line-height: 22px;
}

.VerseInfoFrame {
    float: left;
    margin: 0 5px;
}

.ContentFrame {
    padding: 15px 10px;
}

.FootNote {
    border-top: solid 1px white;
    padding-top: 5px;
    margin-top: 15px;
    font-size: smaller;
    clear: both;
}
