$appBgColor: #444;
$appBgColorDk: black;
$appHeaderBgColor: #282c34;

$goodHifzBg: rgba(0, 128, 0, 0.15);
$goodHifzText: greenyellow;

$weakHifzBg: rgba(177, 0, 0, 0.15);
$weekHifzText: #ff8c8c;

$fairHifzBg: rgba(189, 145, 0, 0.2);
$fairHifzText: #ffd900;

.App {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* text-align: center; */
    background-color: $appBgColor;
    direction: rtl;
    &.DarkTheme {
        background-color: $appBgColorDk;
    }
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: $appHeaderBgColor;
    // background-color: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

button {
    transition: background-color 0.3s, top 0.5s;
    border: none;
    border-width: 0;
    background-color: transparent;
    color: #ddd;
    pointer-events: all;
    text-align: center;
    &:hover {
        color: white !important;
        background: #666;
    }

    * {
        pointer-events: none;
    }
}

.ButtonsBar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    padding: 5px 4px;
    flex-grow: 1;
    min-height: 40px;
    button {
        margin: 0 2px;
        padding: 0;
        border-radius: 6px;
        // .ModalContent .Title & {
        //     margin: 0 1px;
        // }

        flex-grow: 1;
        font-size: 15px;
        background: #444;
        &:hover {
            color: white;
            background: #666;
        }
    }
}

.ActionsBar {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    > span {
        line-height: 30px;
        padding: 0 3px 0 0;
        [dir="rtl"] & {
            padding: 0 0 0 3px;
        }
        &:first-child::after {
            content: ":";
        }
    }
    button {
        li & {
            background-color: rgba(255, 255, 255, 0.2);
            width: inherit;
            margin: 0 2px 2px 0;
        }
        background-color: #444;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

hr {
    border-style: solid;
    border-width: 1px 0;
    border-color: #222 #888 #888 #222;
}

.iBlock {
    display: inline-block;
    margin: 0 5px;
}

.flipHorizontal {
    transform: scaleX(-1);
}

// .VerseInfoFrame {
// }
.VerseInfo {
    float: left;
    .PopupBody & {
        margin: 0 10px 10px 0;
    }
    display: flex;
    min-width: 60px;
    flex-direction: column;
    .VerseInfoList {
        font-size: 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    button {
        min-height: 25px;
    }
}

.VerseText {
    margin: 0;
    line-height: 22px;
    color: rgb(207, 207, 0);
    text-overflow: ellipsis;
    overflow: hidden;
}

.circle-background,
.circle-progress {
    fill: none;
}

.circle-background {
    stroke: #444;
}

.circle-progress {
    stroke: yellowgreen;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.circle-text {
    font-size: 10px;
    font-weight: bold;
    fill: yellowgreen;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.CommandButton {
    font-size: 25px !important;
    height: 50px !important;
    min-width: 50px;
    vertical-align: top;
    padding: 0;
    img {
        vertical-align: middle;
    }
    pointer-events: fill;
    // background-color: black;
}

.NoHifz {
    background-color: rgba(0, 117, 195, 0.219);
    border-color: rgb(0, 109, 182);
}

.GoodHifz {
    // border-color: $goodHifzBg !important;
    background-color: $goodHifzBg;
    border-color: rgb(0, 90, 0) !important;
}
.FairHifz {
    // border-color: $fairHifzBg !important;
    background-color: $fairHifzBg;
    border-color: rgb(121, 86, 0) !important;
}
.WeakHifz {
    // border-color: $weakHifzBg !important;
    background-color: $weakHifzBg;
    border-color: brown !important;
}

.HifzRangeRow {
    margin-bottom: 5px;
    // border-radius: 5px;
    // border: solid 1px #444;
    > button:hover {
        background-color: transparent !important;
    }

    .AgeInfo {
        float: right;
        [dir="rtl"] & {
            float: left;
        }
    }
    .RangeInfo {
        font-weight: bold;
    }
    .ActionsBar {
        position: absolute;
        bottom: 0;
    }
    .RangeText {
        height: 30px;
        display: flex;
        align-items: center;
    }
}

.ContentFrame {
    padding: 15px 10px;
}

.FootNote {
    border-top: solid 1px white;
    padding-top: 5px;
    margin-top: 15px;
    font-size: smaller;
    clear: both;
}

.HiddenScroller {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        width: 0 !important;
    }
}

.SuraHifzChart {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: solid 1px #444;
    box-sizing: border-box;
    border-radius: 5px;
    .HifzRangeRow & {
        height: 46%;
    }
    pointer-events: none;
    .SuraRange {
        position: absolute;
        height: 100%;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        border-radius: 4px;
        // background-color: $fairHifzBg;
    }
    .PageThumb {
        position: absolute;
        height: 100%;
        border-style: solid;
        border-color: rgba(170, 170, 170, 0.2);
        border-width: 0 0 0 1px;
        background-position-x: 2px;
        box-sizing: border-box;
        &.ActivePage {
            background-color: rgba(170, 170, 170, 0.2);
        }
    }
}

.UserIcon {
    width: 50px;
    height: 50px;
    font-size: 50px;
    margin: 10px;
    .Sidebar & {
        width: 25px;
        height: 25px;
        font-size: 25px;
        margin: 0;
    }
}

.UserImage {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 10px;
    .Sidebar & {
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }
}

.SuraIndexCell {
    margin: 2px 0;
    button {
        border-radius: 5px;
    }
}

.recharts-wrapper {
    direction: ltr;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
