body {
    margin: 0;
    // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    //     "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    //     "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.SpreadSheet,
.FlowingList {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    li {
        list-style: none;
        display: inline-block;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        button {
            width: 100%;
            padding: 8px;
            background-color: transparent;
            text-align: inherit;
            &:hover {
                background-color: #666;
            }
            &.active {
                background-color: #333;
            }
        }
        .actions {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            [dir="rtl"] & {
                left: 0;
                right: auto;
            }
            button {
                width: 30px;
                text-align: center;
                color: white;
            }
        }
    }
}
.FlowingList {
    li {
        display: block;
        width: auto;
    }
}

.blinking {
    animation: smooth-blink 3s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    50.01% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes smooth-blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

li.BookmarkRow {
    > button {
        width: 100%;
        display: block;
        padding: 10px 100px 10px 10px;
        [dir="rtl"] & {
            padding: 10px 10px 10px 100px;
        }
    }
    // > div {
    //     width: 80px;
    //     display: inline-block;
    //     vertical-align: text-top;
    //     button {
    //         width: 40px;
    //         text-align: center;
    //         * {
    //             pointer-events: none;
    //         }
    //     }
    // }
}
