#AudioPlayerPopup {
	.blinking {
		animation: blink 1s linear infinite;
	}
	#ReciterIcon {
		float: left;
		width: auto;
		height: 50px;
	}
	.ModalContent {
		top: auto;
		// bottom: 0;
		background-color: #443322dd;
		padding: 0 50px 0 0;
		.Title {
			margin: 5px;
		}
		#PlayerControl {
			float: right;
		}
	}
}
.trans-start {
	#AudioPlayerPopup {
		.ModalContent {
			bottom: -20px;
		}
	}
}

.trans-end {
	#AudioPlayerPopup {
		.ModalContent {
			bottom: 0;
			&.HiddenPopup {
				top: auto;
				bottom: -20px;
			}
		}
	}
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	50.01% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
