@import "@/vars";

.Pager {
	direction: rtl;
	position: fixed;
	display: flex;
	align-items: flex-start;
	top: $headerHeight; //1px;
	bottom: $footerHeight;
	right: 0;

	.fit_page &,
	.fit_two_pages & {
		overflow-y: overlay;
		overflow-x: hidden;
	}

	// border: solid 2px yellow;
	box-sizing: content-box;
	transition: width 0.5s;

	.PageSide {
		width: 50%;
		height: 100%;
		box-sizing: border-box;

		&.RightPage {
			.PageFrame {
				direction: ltr;
			}
		}

		&.LeftPage {
			.PageFrame {
				direction: rtl;
			}
		}
	}

	.HeaderNavbar {
		position: absolute;
		pointer-events: none;
		right: 0;
		left: 0;
		top: 25px;
		height: 25px;
		line-height: 25px;
		z-index: 1;

		.narrow & {
			left: $navbarWidth;
		}

		.NavButton {
			pointer-events: fill;
			width: $headerButtonWidth;
			font-size: 22px;
			opacity: 0.5;
			text-align: center;
			padding: 0 10px;

			&.NavPgDown,
			&.NavPgUp {
				float: right;
				// text-align: right;
			}

			&.NavForward,
			&.NavBackward {
				float: left;
				// text-align: left;
			}
		}
	}
}

.Pager {
	&.narrow {
		.HeaderNavbar {
			left: $navbarWidth;
		}
	}
}

.PagerHeader,
.PagerFooter {
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: width 0.5s;
	direction: rtl;
	// padding: 0 3px;
	// gap: 6px;
	// flex-wrap: wrap;
	// flex-wrap: nowrap;
	color: #bbb;
	background-color: #444;
	transition: background-color 0.5s;
	// width: 100%;
	z-index: 3;
}


.PagerHeader {
	box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.35);
	top: 0;
	bottom: auto;
	height: $headerHeight;
}

.PagerFooter {
	height: $footerHeight;
	top: auto;
	bottom: 0;
	text-align: center;
	justify-content: center;
	box-shadow: 0px -4px 11px 0px rgba(0, 0, 0, 0.35);
}

.HeaderCommands {
	position: absolute;
	display: flex;
	left: 0;
	top: 0;
	// scale: 0.75; //HEADER_HEIGHT/NAVBAR_WIDTH
	height: $headerHeight;

	.CommandButton {
		height: 100%;

		svg {
			height: calc($headerHeight - 6px);
		}
	}
}