.Pager {
    direction: rtl;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    // border: solid 2px yellow;
    box-sizing: content-box;
    transition: width 0.5s;
    .PageSide {
        width: 50%;
        height: 100%;
        display: inline-block;
        box-sizing: border-box;
        &.RightPage {
            .PageFrame {
                direction: ltr;
            }
        }
        &.LeftPage {
            .PageFrame {
                direction: rtl;
            }
        }
    }
    .HeaderNavbar {
        position: absolute;
        pointer-events: none;
        right: 0;
        left: 0;
        top: 25px;
        height: 25px;
        line-height: 25px;
        z-index: 1;
        .narrow & {
            left: 50px;
        }

        .NavButton {
            pointer-events: fill;
            width: 50px;
            font-size: 22px;
            opacity: 0.5;
            text-align: center;
            padding: 0 10px;
            &.NavPgDown,
            &.NavPgUp {
                float: right;
                // text-align: right;
            }
            &.NavForward,
            &.NavBackward {
                float: left;
                // text-align: left;
            }
        }
    }
}

.Pager {
    &.narrow {
        .HeaderNavbar {
            left: 50px;
        }
    }
}
