.Pager {
	direction: rtl;
	display: inline-block;
	.PageSide {
		width: 50%;
		height: 100%;
		display: inline-block;
		box-sizing: border-box;
		&.RightPage {
			.PageFrame {
				direction: ltr;
			}
		}
		&.LeftPage {
			.PageFrame {
				direction: rtl;
			}
		}
	}
	.NavButton {
		position: fixed;
		width: 50px;
		bottom: 0;
		font-size: 22px;
		opacity: 0.5;
		text-align: left;
		height: 25px;
		line-height: 25px;
		padding: 0;
		&.NavBackward {
			right: 0;
			text-align: right;
		}
	}
}
